/* .coinContainer {
    display: flex;
    justify-content: center;
}

.coinRow {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 1000px;
    height: 100px;
}

.coinColumnGroupName{
    display: flex;
    align-items: center;
    min-width: 250px;
}

.coinColumnGroupData{
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
}



h2{
    width: 300px;
}
.price{
    width: 180px;
}




 */
/* .rank{
    width: 60px;
} */
 .symbol{
    text-transform: uppercase;
}

img {
    height: 35px;
}
.name{
    margin-left: 20px;
}

.red {
    color: #f00606;
  }
  
  .green {
    color: #11d811;
  }